.wheelOfFortune{
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap:20px
    }
}
.inputsWrapper{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.singleInputWrapper{
    display: flex;
    gap:10px
}