.wheelOfFortune {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
  }
  &-wheel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }
}
.inputsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  flex-flow: wrap;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  max-height: 80vh;
  height: 100%;
}

.singleInputWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 1330px) {
  .inputsWrapper {
    grid-template-columns: 1fr;
  }
  .wheelOfFortune-wrapper {
    overflow-y: auto;
    flex-direction: column;
  }
}

.buttonWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.buttonAndInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
